@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk", sans-serif;
}
body {
  background-image: url("./assets/back5.svg");
  min-height: 100vh;
}

.navv {
  height: 12vh;
}
.devvv {
  margin-top: 10px;
  color: white;
}
.pro-cont {
  height: 80vh;
  overflow-y: scroll;
  display: flex;
}

.cardbody {
  height: 280px !important;
  background-color: rgb(255, 255, 255) !important;
}

.img-card {
  margin-top: 10px;
  height: 170px;
  width: 100%;
}

.err {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errimg {
  height: 600px;
}

.devinfol {
  min-height: 80vh;
  color: white;
  overflow-y: scroll;
}

.devinfor {
  min-height: 80vh;
  overflow-y: scroll;
}

.devinfo {
  text-align: center;
  margin-top: 10px;
  color: white;
}

.videoinfob {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoinfo {
  height: 90%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.immgg {
  height: 50vh !important;
}
